body {
    font-size: 16px
}

#notes {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
}

.note {
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 250px;
    border: 3px solid rgb(199, 88, 88);
    background-color: rgb(237, 196, 196);
    opacity: 1;
    transition: all 0.3s ease;
    box-sizing: border-box;
    text-align: left;
    color: black;
}

.note.done {
    border: 3px solid green;
    background-color: rgb(12, 125, 12);
    opacity: 0.4;
    color: white;
}